

 </body>
 <footer style="background-color:#333; color:#fff; text-align:center; padding:20px 0; position:fixed; bottom:0; width:100%;">
  <p>&copy; 2025 Airbnb All rights reserved.</p>
  <p>
    <a href="#" style="color:#fff; text-decoration:none; margin:0 10px;">Privacy Policy</a> |
    <a href="#" style="color:#fff; text-decoration:none; margin:0 10px;">Terms of Service</a> |
    <a href="#" style="color:#fff; text-decoration:none; margin:0 10px;">Contact Us</a>
  </p>
</footer>
</html>