<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title || 'My Website' %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Add your CSS file here -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <h1><%= heading || 'Welcome to My Site' %></h1>
      <!-- <h1>Airbnb</h1> -->
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/host/homes">Homes</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>
 
