<%- include('partials/header',{title: '404 Page', heading: 'Error Page' }) %>

            <h2>404 - Page Not Found</h2>
            <p>The page you are looking for doesn't exist.</p>

<%- include('partials/footer') %>
