
<%- include('partials/header', { title: 'Hostpost Page', heading: '3rd page' }) %>
   

        <h1> Home registered successfully </h1>
        <a href="/"> Go to Home </a> 


<%- include('partials/footer') %>

